.overlay-container {
  background-color: blueviolet;
  position: absolute;
  top: 200px;
  padding: 1.5rem;
  border-radius: 20px;
}
.overlay-container p {
  font-size: 1.4rem;
  max-width: 50vw;
  color: rgba(0, 0, 0, 0.8);
}
.overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.button-wrapper button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  background-color: #4b1670;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}
